@model Capstone_FotoMe.Models.PhotoEnthusiast

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome @Html.DisplayFor(model => model.Name)!</h1>


<body>

    <ul>
        <li> <a asp-action="Details">Profile</a> |</li>
        <br />
        <br />
        <li> <a asp-action="PostRequestsNearMe">Post Requests Near Me</a> |</li>
        <br />
        @*<li> <a asp-action="SearchPostsInMyArea">Search Photo Post Requests</a> |</li>*@
        <li> <a asp-action="MyFriends" asp-route-id=" @Model.PhotoEnthusiastId">My Friend List</a> | </li>
        <br />
        <li> <a asp-action="PostAPhotoRequest" asp-route-id="@Model.PhotoEnthusiastId">Post a Photo Request</a> |</li>
        <br />
        <li> <a asp-action="GetAllPhotoEnthusiasts">Find Other Photo Enthusiasts</a> |</li>

    </ul>

</body>
